.navbar {
    background-image: url("david-ballew-pH6-eomaijQ-unsplash.jpg");
}




#menu {
    position: absolute;
    background: #efefef;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    z-index: 3;
}